<div class="form-field-wrapper">
  <mat-form-field>
    <mat-label>{{ label }} {{ stepCount }}</mat-label>
    <input
      #currentInput
      matInput
      (keydown)="onKeyPress($event)"
      [formControl]="listControl"
    />
  </mat-form-field>
  <button mat-mini-fab color="accent" (click)="add()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div *ngFor="let step of formList.value; index as i" class="list-item">
  <span class="step-number">{{ i + 1 }}. {{ step }}</span>
  <button
    class="delete-button"
    mat-mini-fab
    color="accent"
    (click)="remove(i, $event)"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
