<div class="container">
  <h1>Creating a Recipe</h1>
  <form class="pl-1" autocomplete="off" [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Recipe Title</mat-label>
      <input type="text" matInput formControlName="title" />
    </mat-form-field>

    <div>
      <mat-form-field class="w-90">
        <mat-label>Tag</mat-label>
        <mat-chip-list #tagList aria-label="Tag selection">
          <mat-chip *ngFor="let tag of tags.value; index as i" [selected]="true" color="accent"
            (removed)="remove(i, 'tag')">
            {{ tag | titlecase }}
            <mat-icon matChipRemove (click)="removeChip(i)">cancel</mat-icon>
          </mat-chip>
          <input [matChipInputFor]="tagList" [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addChip($event, 'tag')">
        </mat-chip-list>
      </mat-form-field>
    </div>

    <app-list [listControl]="currentStep" [formList]="steps" label="Instruction Step"></app-list>
    <app-list [listControl]="currentIngredient" [formList]="ingredients" label="Ingredient"></app-list>

    <button mat-mini-fab color="accent" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
  </form>
</div>