<ng-container *ngIf="recipe">
  <div class="header">
    <div class="header-titles">
      <h1 class="title">{{ recipe.title | titlecase }}</h1>
      <span class="date">{{ recipe.createdAt | createdAt }}</span>
    </div>

    <ng-container *ngIf="recipe.tags?.length">
      <section class="tags">
        <mat-chip-list selectable="false" aria-label="Tags">
          <mat-chip color="accent" selected *ngFor="let tag of recipe.tags">
            {{ tag }}
          </mat-chip>
        </mat-chip-list>
      </section>
    </ng-container>
  </div>

  <ng-container *ngIf="recipe.ingredients.length">
    <section class="ingredients">
      <div>Ingredients</div>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
      </ul>
    </section>
  </ng-container>

  <ng-container *ngIf="recipe.steps.length">
    <section class="steps">
      <div>Directions</div>
      <ol>
        <li *ngFor="let step of recipe.steps">{{ step }}</li>
      </ol>
    </section>
  </ng-container>

  <section class="footer">
    <button mat-mini-fab color="accent" (click)="editRecipe()">
      <mat-icon>create</mat-icon>
    </button>
    <span class="pr-1 actual-float-right">
      <button mat-mini-fab color="accent" (click)="deleteRecipe()">
        <mat-icon>delete</mat-icon>
      </button>
    </span>
  </section>
</ng-container>
