:host {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}

.card {
  display: grid;
  grid-template-areas: 'title date' 'content content';
  grid-template-columns: 1fr auto;
  align-items: center;
  border-radius: 1rem;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(38 38 38);

  &-title {
    font-size: 1.5rem;
    grid-area: title;
  }

  &-subtitle {
    font-size: 1rem;
    color: rgb(255 255 255 / 0.87);
    grid-area: date;
  }

  &-content {
    grid-area: content;
  }
}
