<ng-container *ngFor="let recipe of recipes | async">
  <div class="card" routerLink="/recipe/{{ recipe.id }}">
    <div class="card-title">
      {{ recipe.title | titlecase }}
    </div>
    <div class="card-subtitle">
      {{ recipe.createdAt | createdAt }}
    </div>
    <ng-container *ngIf="recipe.tags?.length">
      <section class="card-content">
        <mat-chip-list selectable="false" aria-label="Tags">
          <mat-chip color="accent" selected *ngFor="let tag of recipe.tags">
            {{ tag }}
          </mat-chip>
        </mat-chip-list>
      </section>
    </ng-container>
  </div>
</ng-container>
